<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Styles -->

    <link rel="shortcut icon" href="assets/favicon/favicon.png">

    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>World Cup Webservice</title>
</head>
<body>
    <div id='worldcup' class="worldcup" v-cloak>
        <div class="container-fluid">
            <div class="">

            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4" v-for="group_team in group_teams">
                    <h1>{{group_team.letter}}</h1>
                    <table class="table-striped table-group-team">
                        <tr>
                            <th>País</th>
                            <th>Vitórias</th>
                            <th>Empates</th>
                            <th>Derrotas</th>
                            <th>Pontos</th>
                        </tr>
                        <tr class="table-ordered-team" v-for="ordered_team in group_team.ordered_teams"
                            @click="getMatchesCountry(ordered_team.fifa_code)">
                            <td>{{ordered_team.country}}</td>
                            <td>{{ordered_team.wins}}</td>
                            <td>{{ordered_team.draws}}</td>
                            <td>{{ordered_team.losses}}</td>
                            <td>{{ordered_team.points}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    
    <!-- Scripts -->

    <script src="assets/vendor/jquery/jquery.min.js"></script>

    <script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <script src="assets/vendor/axios/axios.min.js"></script>

    <script src="assets/vendor/moment/moment.min.js"></script>

    <!-- <script src="assets/vendor/chartjs/chartjs.min.js"></script>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>

    <script src="https://unpkg.com/vue"></script>

    <script src="assets/vendor/vue/vue-select.min.js"></script>

    <script type="application/javascript" src="assets/js/controllers/worldcup.controller.js"></script>

    <script type="application/javascript" src="assets/js/script.js"></script>
</body>
</html>