[v-cloak] {
    display: none;
}

h1 {
    color: red;
}

.table-group-team {
    width: 100%;
}

.table-group-team tr th {
    text-align: center;
}

.table-group-team .table-ordered-team {
    text-align: center;
    color: rgba(22,22,22, 1);
}

.table-group-team .table-ordered-team:hover {
    text-align: center;
    color: rgba(22,22,22, 0.5);
    cursor: pointer;
}